#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

#left {
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

#webcam_video_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

#webcam_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#right {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

#lesson_video_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#lesson_video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
